In [1]:
import pandas as pd


# 1. Import data
# load logging.csv into a pandas dataframe with ansii encoding and no header
df = pd.read_csv('logging.csv', encoding='cp852', header=None)
# name columns
df.columns = ['logging_date',
              'logging_time',
              'CPU_usage_percent']

In [2]:
df

      logging_date logging_time CPU_usage_percent
0     14.03.2023..        10:41                2
1     14.03.2023..        10:41                0
2     14.03.2023..        10:41               13
3     14.03.2023..        10:41                1
4     14.03.2023..        10:41                1
...            ...          ...               ...
2260  14.03.2023..        14:35                4
2261  14.03.2023..        14:35                7
2262  14.03.2023..        14:35               13
2263  14.03.2023..        14:35                5
2264  14.03.2023..        14:35                1

[2265 rows x 3 columns]

In [20]:
# 2. Data transformation
# remove last 2 characters from date
df['logging_date'] = df['logging_date'].str[:-2]
# remove rows where CPU usage is " " (empty)
df = df[df['CPU_usage_percent'] != ' ']
# cast CPU usage to integer
df['CPU_usage_percent'] = df['CPU_usage_percent'].astype(int)

C:\Users\vbu2985\AppData\Local\Temp\8\ipykernel_11868\1523854622.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CPU_usage_percent'] = df['CPU_usage_percent'].astype(int)

In [21]:
df

    logging_date logging_time  CPU_usage_percent
0     10.03.2023        13:11                 33
1     10.03.2023        13:11                 25
2     10.03.2023        13:11                 33
3     10.03.2023        13:11                 22
4     10.03.2023        13:11                 34
..           ...          ...                ...
125   10.03.2023        13:34                  1
127   10.03.2023        13:35                  1
128   10.03.2023        13:35                  1
129   10.03.2023        13:35                  1
130   10.03.2023        13:35                  1

[125 rows x 3 columns]

In [22]:
# 3 grouping data
# group by process and user
df_grouped = df.groupby(['logging_date',
                         'logging_time'])

In [23]:
dfdf_grouped.mean()

                           CPU_usage_percent
logging_date logging_time
10.03.2023   13:11                 29.400000
             13:12                 21.600000
             13:13                 18.833333
             13:14                  2.600000
             13:15                  2.200000
             13:16                  1.000000
             13:17                 14.200000
             13:18                 19.000000
             13:19                 21.200000
             13:20                 23.500000
             13:21                 10.400000
             13:22                  1.000000
             13:23                  1.000000
             13:24                  0.750000
             13:25                  1.000000
             13:26                  0.666667
             13:27                  1.000000
             13:28                  5.800000
             13:29                  2.000000
             13:30                  8.800000
             13:31                  0.666667
             13:32                  7.833333
             13:33                  1.000000
             13:34                  1.000000
             13:35                  1.000000